.vs/
Library/
obj/
Temp/
.localhistory/

*.unityproj

Assets/StreamingAssets/
Assets/StreamingAssets*

*.user

Assets/UnityVS*

Assets/Resources/
Assets/Resources*

Assets/Resources/LocalRes/
Assets/Resources/LocalRes*

Assets/Resources/Refdata/
Assets/Resources/Refdata*

Assets/Resources/GameRes/
Assets/Resources/GameRes*

Assets/Resources/__dlserverref/
Assets/Resources/__dlserverref*

Assets/Resources/__DLInputSetting*

Assets/XLua/Doc/*
Assets/XLua/Examples/*
Assets/XLua/Tutorial/*

Assets/Resources/__ALAssetBundle/
Assets/Resources/__ALAssetBundle*
Assets/Resources/__ALAssetBundleCompress/
Assets/Resources/__ALAssetBundleCompress*

Assets/Ignore
Assets/Ignore*
.idea/
*.meta