*.class
*/customConf/*
*.prefs
*/bin/*

*.ALProtocol
*.pyc
.settings/
info/*
hooks/*

config
description
HEAD

.metadata*
.local*

.recommender*

#Lib/
#WCGClientProtocols/
#WCGCommon/
#WCGGameProtocol/
#WCGGatewayServer/
#WCGLoginServer/
#WCGPlatServer/
#WCGUserServer/

WCGBattleReplayer/WCGBattleLog/*
WCGRoomServer/WCGBattleLog/*
build/out/*
DBTool/output/*

WCGCommon/bin/WCGCommon/WCGGitNode/version.txt
build/version.txt
build/publish/*

*.iml
.idea*

*.temp
*.log
RemoteSystemsTempFiles/.project
WCGCommon/src/WCGCommon/TestMain_MarkW.java

Lib/WCGBattle.jar
Lib/WCGCommon.jar
Lib/WCGGameProtocol.jar
Lib/WCGGameRes.jar
/*/*.cache
/*/*.dealing
/*/*.backup
*/out/*
/*/*.single
/NPRoomServer/WCGBattleLog/*
/UserServer2/*

*.groovy

/out/*
*.MF
/ModuleBuilder/parsetab.py
/ModuleBuilder/parser.out
/UserServer/activities/*
/bat/__dlserverref/*
/bat/*.xlsx
/ScheduleServer/zone_schedule*

/bat/ConfGenerate/custom_conf_template/*
/bat/ConfGenerate/custom_conf_output/*
/bat/ConfGenerate/conf_output/*

.vscode*

*.local.json

CLAUDE.md
.claude/*
*.local.md
