.vs/
Library/
obj/
Temp/
.idea/
Logs/
TestData/

*.csproj
*.unityproj
*.sln

Assets/StreamingAssets/
Assets/StreamingAssets*

*.user

Assets/UnityVS*

Assets/Resources*
Assets/App_Resources/Resources/game_custom*
Assets/Houdini/
Assets/Houdini*
heu_session.txt

Assets/0_Ignore/
Assets/0_Ignore*
